{{- $fullname := promptString "Full name" -}}
{{- $email := promptString "Email" -}}
{{- $has_root := promptBool "Do you have root access (y/n)" -}}

[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
    has_root = {{ $has_root }}
    extras_dir = "{{ .chezmoi.sourceDir }}/extras"

[git]
    autoCommit = true
    autoPush = false  # in case I accidentally write a secret
