{{- if .has_root -}}

############################
# We have root access, so:
############################
brew "fish"
cask "gpg-suite"
cask "mactex"
cask "hiddenbar"
cask "rectangle"
cask "iterm2"
############################

{{- else -}}

##################################
# We don't have root access, so:
##################################
cask_args appdir: "~/Applications"
brew "gnupg"
##################################

{{ end -}}

##################################
# We don't need root access for:
##################################
brew "pyenv"
brew "pyenv-virtualenv"
brew "gh"
brew "go"
brew "chezmoi"
brew "neovim"
##################################

