#!/usr/bin/env zsh

set -ueo pipefail

{{ if .has_root }}
export HASROOT=0
{{ else }}
export HASROOT=1
{{ end }}

pushd
chezmoi cd
pwd

scripts/install-homebrew.sh
brew bundle

scripts/install-fish.sh

popd
