#!/usr/bin/env bash

set -ueo pipefail

{{ if .has_root }}
export HASROOT=1
{{ else }}
export HASROOT=0
{{ end }}

pushd
cd `chezmoi source-path`

scripts/install-homebrew.sh
brew bundle

scripts/install-fish.sh

popd
