{{ if not .has_root -}}
fish_add_path $HOME/.homebrew/bin
fish_add_path $HOME/bin
{{ end -}}

set fish_greeting  # hush greeting
fish_vi_key_bindings

pyenv init - | source
pyenv virtualenv-init - | source

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/thomasbreydo/google-cloud-sdk/path.fish.inc' ]; . '/Users/thomasbreydo/google-cloud-sdk/path.fish.inc'; end

set -gx HOMEBREW (brew --prefix)
set -gx LDFLAGS "$LDFLAGS -L$HOMEBREW/lib"
set -gx CPPFLAGS "$CPPFLAGS -I$HOMEBREW/include"
set -gx CPPFLAGS "$CPPFLAGS -I$HOMEBREW/include"
