snippet hw "HW problem solution"
\documentclass{amsart}
\usepackage{thomas}

\title{$1}
\author{Thomas\ Breydo}
\date{\today}

\begin{document}

\maketitle

\textbf{Problem:} $2

\vspace{0.5in}

\textbf{Solution:} $0

\end{document}
endsnippet
